In [1]:
# we are splitting
# the output inthe form list
str1='hai how are you'
l1=str1.split()
l1

['hai', 'how', 'are', 'you']

In [2]:
# Now we have list of elements are there
# we want to join
l1

['hai', 'how', 'are', 'you']

In [9]:
' '.join(l1)

'hai how are you'

In [18]:
s=''
for i in l1:
    s=s+i
s

'haihowareyou'

# zip

In [20]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
# Ramesh age is 20
# Suresh age is 25
# Sathish age is 30
for i in range(len(names)):
    print(names[i],age[i])

Ramesh 20
Suresh 25
Sathish 30

In [21]:
for i,j in zip(names,age):
    print(i,j)

Ramesh 20
Suresh 25
Sathish 30

In [ ]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
If both are together why two lists ===== Dictionary

In [22]:
#{<key>:<value>}
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
d1
# Ramesh
# Suresh
# Sathish are keys
# 20 25 30 are values
# key:value pair together

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

In [23]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
d2={20:"Ramesh",25:"Suresh",30:"Sathish"}
d3={20:20}
d4={'$':'30'}
d5={$:'30'} # Fail
# spl cahracters should not be a key

SyntaxError: invalid syntax (691309419.py, line 5)

In [24]:
d6={'30':$}
d6

SyntaxError: invalid syntax (814398154.py, line 1)

In [25]:
d7={'names':['R','S','A']}
d7
# List can be value

{'names': ['R', 'S', 'A']}

In [26]:
d8={['R','S','A']:'names'}
d8
# List can not be a key

TypeError: unhashable type: 'list'

In [27]:
d9={('R','S','A'):'names'}
d9

{('R', 'S', 'A'): 'names'}

In [28]:
d10={'names':('R','S','A')}
d10

{'names': ('R', 'S', 'A')}

In [29]:
d11={('I','N','D'):('R','S','A')}
d11

{('I', 'N', 'D'): ('R', 'S', 'A')}

In [30]:
d={'Fruites':'Apple'}
d12={"Names":d}
d12

{'Names': {'Fruites': 'Apple'}}

In [31]:
d={'Fruites':'Apple'}
d13={d:'names'}
d13

TypeError: unhashable type: 'dict'

In [32]:
# dictionary and list can not be represent as keys

In [ ]:
################## Pass ##################
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
d2={20:"Ramesh",25:"Suresh",30:"Sathish"}
d3={20:20}
d4={'$':'30'}
d5={'names':['I','N','D']}
d6={'names':('I','N','D')}
d7={('I','N','D'):'names'}
d8={"Names":{'Fruites':'Apple'}}

############### Fail ###################
d9={$:'30'}
d10={['I','N','D']:'names'}
d11={{'Fruites':'Apple'}:"Names"}

In [33]:
d1={"Ramesh":20,"Ramesh":25}
d1
# Duplicate keys are not allowed

{'Ramesh': 25}

In [34]:
d2={"Ramesh":20,"Suresh":20}
d2
# Duplicate values are allowed

{'Ramesh': 20, 'Suresh': 20}

- max
- min
- len
- sum

Watch only keys

In [39]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
max(d1)

'Suresh'

In [40]:
min(d1)

'Ramesh'

In [41]:
len(d1)

3

In [42]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [43]:
d2={20:"Ramesh",25:"Suresh",30:"Sathish"}
sum(d2)

75

In [46]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}

sorted(d1)

['Ramesh', 'Sathish', 'Suresh']

In [47]:
for i in reversed(d1):
    print(i)

Sathish
Suresh
Ramesh

In [48]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,25,30]
sum(l2)
sum(l1) # fail

TypeError: unsupported operand type(s) for +: 'int' and 'str'

d1={"Ramesh":20,"Suresh":25,"Sathish":30}
sum(d1) # Error
max(d1) # Sure
min(d1) # Rame
len(d1) # 3
d2={20:"Ramesh",25:"Suresh",30:"Sathish"}
sum(d2) # 75
max(d1) # 30
min(d1) # 20
len(d1) # 3
d2={20:"Ramesh",'Suresh':30}
max(d2) # E
min(d2) # E
sum(d2) # E
len(d2) # 2

# index

In [52]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
# Normal index will not work for dictionary
#d1[0] # Error
# If you want retrive the value, by using key we can get
d1['Ramesh']
d1['Suresh']
d1['Sathish']
d1[i]
for i in d1:
    print(i,d1[i])

Ramesh 20
Suresh 25
Sathish 30

In [ ]:
# WAP ask the user generate 10 random numbers
# Find the even number and odd number
# output:
#{'Even':[20,30,40],'Odd':[35,45]}
# step-1: import random
# step-2: even_list,odd_list=[],[]
# step-3: for loop 10 times
# step-4: num=generate random number 10,100
# step-5: if <condition>:
# step-6: append the values in eve
# step-7: else:
# step-8: append the values in odd list
# step-9: create the dictionary

In [62]:
even=[]
odd=[]
dic={}
import random
for i in range(10):
    num=random.randint(1,100)
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
dic['Even']=even
dic['Odd']=odd
dic

{'Even': [94, 60, 70], 'Odd': [33, 61, 69, 99, 55, 57, 7]}

In [69]:
# word frequency
s1='hello how how are you, hello how im good, hello how what are you doing'
# {'hello':3,'how':4,......}
# split the data
l1=s1.split()
l2=[]
d1={}
for i in l1:
    if i not in l2:
        d1[i]=l1.count(i)
d1

{'hello': 3,
 'how': 4,
 'are': 2,
 'you,': 1,
 'im': 1,
 'good,': 1,
 'what': 1,
 'you': 1,
 'doing': 1}

In [71]:
'clear',
'copy',
'fromkeys',
'get',
'items',
'keys',
'pop',
'popitem',
'setdefault',
'update',
'values'

'values'

keys - values - items

In [72]:
d1={'Ramesh':20,'Suresh':25,'Piyush':27}
d1

{'Ramesh': 20, 'Suresh': 25, 'Piyush': 27}

In [73]:
d1.keys()

dict_keys(['Ramesh', 'Suresh', 'Piyush'])

In [74]:
d1.values()

dict_values([20, 25, 27])

In [75]:
d1.items()

dict_items([('Ramesh', 20), ('Suresh', 25), ('Piyush', 27)])

In [83]:
d1.setdefault()
d1

{'Ramesh': 20, 'Suresh': 25, 'Piyush': 27, 12: None, False: None}