# lambda function

In [2]:
#- Lambda functions is also a kind of functions represenatation
#- More efficient way
def summ(num):
    return(num+10)
summ(10)
# The function name is summ
# the variable name is num
# the return output is num+10

20

In [ ]:
<function_name>=lambda <variable_name>:<return output>

In [4]:
sunn=lambda num :num+10
sunn(10)

20

In [5]:
def cube(num):
    return(num*num*num)
cube(10)

1000

In [6]:
cube=lambda num:num*num*num
cube(10)

1000

## two arguements

In [7]:
def add(n1,n2):
    return(n1+n2)
add(100,200)

300

In [ ]:
<function_name>=lambda <var1>,<var2>:<return output>

In [8]:
add=lambda n1,n2 : n1+n2
add(10,20)

30

In [9]:
mul=lambda n1,n2 :n1*n2
mul(10,20)

200

In [10]:
def avg(n1,n2,n3):
    return((n1+n2+n3)/3)
avg(100,200,300)

200.0

In [11]:
avg=lambda n1,n2,n3 :(n1+n2+n3)/3
avg(10,20,30)

20.0

# if else

In [13]:
def Max(n1,n2):
    if n1>n2:
        return(n1)
    else:
        return(n2)
Max(100,200)

200

In [ ]:
Max(100,200)

lambda <v1,v2,v3...>: <output>
if -else we need to write in a single
[<if_output> <if_con> else <else_ouput>]

<function_name>=lambda <var1,var2>:<if_output> <if_con> else <else_ouput>

In [15]:
maxmin=lambda n1,n2:n1 if n1>n2 else n2
maxmin(10,20)

20

In [17]:
list1=['hyd','mumbai','chennai']
# list2=['Hyd','Mumbai','Chennai']
##################################################
#list2=[]
#for i in list1:
#list2.append(i.capitalize())
#######################################################
list2=[i.capitalize() for i in list1]
list2

['Hyd', 'Mumbai', 'Chennai']

## map

In [ ]:
list(map(lambda <variable>:<output>,<iterator>))

In [19]:
list(map(lambda i : i.capitalize(),list1))

['Hyd', 'Mumbai', 'Chennai']

In [20]:
l1=[1,2,3,4]
#l2=[1,4,9,16]
list(map(lambda i: i*i,l1))

[1, 4, 9, 16]

## filter

In [21]:
l1=['hyder#abad','Mum#bai','Chenn#ai','Blr','pune']
# l2=['hyder#abad','Mum#bai','Chenn#ai']
######################################################
l2=[]
for i in l1:
if '#' in i:
l2.append(i)
l2
######################################################
l2=[i for i in l1 if '#' in i]
l2
######################################################
l2=[i for i in l1 if '#' in i]
l2

['hyder#abad', 'Mum#bai', 'Chenn#ai']

In [22]:
l1=['hyder#abad','Mum#bai','Chenn#ai','Blr','pune']
list(map(lambda i : '#' in i,l1))

[True, True, True, False, False]