# Tuples

$Introduction  $   to $    Tuples$

- Tuples are immutable sequences in Python, meaning their elements cannot be changed after creation.
- They are defined using parentheses ( ) and can contain elements of different types.

In [2]:
# edit tuples for github
tp= ('hello', ' i have edited this file for further')
print(tp)

('hello', ' i have edited this file for further')

In [ ]:
# Example of defining a tuple
tp= (1, 2, 3, 'hello', True)
print(tp)
type(tp)

In [3]:
# different ways to read tuple
print(tp)

(1, 2, 3, 'hello', True)

In [4]:
tp[::]

(1, 2, 3, 'hello', True)

In [5]:
tp[0]

1

In [6]:
print(tp,type(tp))

(1, 2, 3, 'hello', True) <class 'tuple'>

In [9]:
tp[0:5]

(1, 2, 3, 'hello', True)

In [ ]:
# common tuple operations

## len

In [11]:
print(tp,len(tp))# getting the length of tuple and also the number of elements in it

(1, 2, 3, 'hello', True) 5

In [15]:
tuple1=(1,2,3,4,5,100,200)
tuple1

(1, 2, 3, 4, 5, 100, 200)

In [16]:
len(tuple1)

7

## max min

In [17]:
tuple1

(1, 2, 3, 4, 5, 100, 200)

In [18]:
max(tuple1)# getting the maximun or highest element in the tuple

200

In [19]:
min(tuple1)# getting the minimun and lowest element in the tuple

1

In [24]:
tuple2=('apple','banana','cherry')
tuple2

('apple', 'banana', 'cherry')

In [25]:
max(tuple2)

'cherry'

In [26]:
min(tuple2)

'apple'

## sum

In [ ]:
# with this function we can get the sum of the elements of the tuple

In [27]:
tuple1

(1, 2, 3, 4, 5, 100, 200)

In [28]:
sum(tuple1)

315

## reversed

In [31]:
tuple1

(1, 2, 3, 4, 5, 100, 200)

In [32]:
reversed(tuple1)# to print the reverse of a number we should iterate it through loop

In [36]:
for i in reversed(tuple1):
    print(i,end=' ')

200 100 5 4 3 2 1

In [34]:
for i in reversed(tuple2):
    print(i)

cherry
banana
apple

## sorted

In [46]:
#sort method sorts the order or the elements otf the tuple and by default it prints the elements in ascemding 
#order

In [43]:
tuple1

(1, 2, 3, 4, 5, 100, 200)

In [45]:
sorted(tuple2)

['apple', 'banana', 'cherry']

In [44]:
sorted(tuple1)

[1, 2, 3, 4, 5, 100, 200]

In [42]:
tuple3=(1,23,4343,44,543,45)

In [47]:
sorted(tuple3)

[1, 23, 44, 45, 543, 4343]

In [48]:
sorted(tuple3,reverse=True)# we can also print the elements of the tuple in descendin order using sorted method

[4343, 543, 45, 44, 23, 1]

# concateation

In [ ]:
# we can add the tuples using + operator

In [49]:
tuple1

(1, 2, 3, 4, 5, 100, 200)

In [50]:
tuple2

('apple', 'banana', 'cherry')

In [51]:
tuple1 + tuple2

(1, 2, 3, 4, 5, 100, 200, 'apple', 'banana', 'cherry')

In [52]:
tuple3

(1, 23, 4343, 44, 543, 45)

In [55]:
tuple4=(tuple1+tuple3)

In [56]:
tuple4

(1, 2, 3, 4, 5, 100, 200, 1, 23, 4343, 44, 543, 45)

## membership

In [57]:
tuple4

(1, 2, 3, 4, 5, 100, 200, 1, 23, 4343, 44, 543, 45)

In [59]:
print(3 in tuple4)

True

In [60]:
print(111 in tuple4)

False

In [61]:
print(1 not in tuple4)

False

## indexing

In [62]:
# tuple indexing is as it is as list and strings

In [63]:
tuple1[1]

2

In [64]:
tuple2[::]

('apple', 'banana', 'cherry')

In [65]:
tuple2[-1:]

('cherry',)

In [70]:
tuple2[-2]

'banana'

# mutable and immutable

In [71]:
tuple1

(1, 2, 3, 4, 5, 100, 200)

In [73]:
tuple1(3,[0])

TypeError: 'tuple' object is not callable

In [ ]:
tuple is immutable

## slicing

In [74]:
# tuple slicing is same as list and string

In [76]:
tuple1

(1, 2, 3, 4, 5, 100, 200)

In [75]:
print(tuple1[1:4])

(2, 3, 4)

In [77]:
tuple3

(1, 23, 4343, 44, 543, 45)

In [81]:
tuple3[1:5:2]

(23, 44)

# tuple methods

In [82]:
# tuple has only 2 methods because it is immutable

In [85]:
tuple4

(1, 2, 3, 4, 5, 100, 200, 1, 23, 4343, 44, 543, 45)

In [86]:
tuple4.count(1)

2

In [87]:
tuple4.count(100)

1

In [91]:
tuple4.index(4)

3

In [92]:
tuple4.index(100)

5

In [93]:
tuple4.index(1000)

ValueError: tuple.index(x): x not in tuple